.footer {
  position: fixed;
  left: 10px;
  top: calc(800px - 40px - 52px);
  max-width: 176px;
  z-index: 101;

  &__political {
    font-family: gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
  }

  &__copy {
    margin-top: 10px;
    font-family: gilroy;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
  }

}